<footer class="bg-secondary text-white py-3 mt-5">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-md-6 text-md-start">
                <a href="mailto:contact@ecoride.fr" class="text-white text-decoration-none">contact@ecoride.fr</a>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#" class="text-primary text-decoration-none">Mentions Légales</a>
            </div>
        </div>
    </div>
</footer>