{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <div class="container my-3">
        <h2>1. Éditeur du site</h2>
        <p>Le présent site web, accessible à l'adresse ecoride, est édité par : José, gérant de la startup EcoRide
            domiciliée à l'adresse suivante : 28 rue de la verdure, 69440 chabanière</p>

        <h2>2. Hébergement du site</h2>
        <p>L'hébergement du site est assuré par : [Nom de l'hébergeur]
            Adresse : [Adresse de l'hébergeur]
            Numéro de téléphone : [Numéro de téléphone de l'hébergeur]
        </p>

        <h2>3. Propriété intellectuelle</h2>
        <p>L'ensemble des éléments constituant ce site (textes, graphismes, logiciels, photographies, images, vidéos, sons, plans, noms, logos, marques, créations et œuvres protégeables diverses, etc.) sont protégés par les lois françaises et internationales relatives à la propriété intellectuelle. Toute représentation, reproduction, modification, utilisation commerciale, totale ou partielle, sans l'autorisation écrite et préalable de [Votre Nom/Prénom ou Nom de l'entreprise] est strictement interdite.</p>

        <h2>4. Données personnelles</h2>
        <p>Les informations recueillies sur ce site font l’objet d’un traitement informatique destiné à la gestion de la plateforme. Les destinataires des données sont [Nom de l'entreprise ou Votre nom]. Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent. Pour l'exercer, adressez-vous à .</p>

        <h2> Limitation de responsabilité</h2>
        <p>L'éditeur du site ne saurait être tenu responsable des erreurs, omissions, virus ou du mauvais fonctionnement qui pourraient survenir à la suite d'une utilisation du site ou de ses fonctionnalités. L'utilisateur est seul responsable de l'usage qu'il fait des informations et services accessibles sur le site.</p>
    </div>
{% endblock %}

