<!DOCTYPE html>
<html>
    <head>
        {# ... #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('main_styles') }}
        {% endblock %}
        {# ... #}
    </head>
    <body>
         <header>
            {% include 'partials/navbar.html.twig' %}
        </header>

        {% block body %}{% endblock %}

        {% include 'partials/footer.html.twig' %}

        
    </body>
</html>